<section class="section">
  <div class="container">
    <div class="activities-container">
      <ul class="activities-list">
        <li class="activities-list-li">01</li>
        <p class="activity-description activity-description-one">Swimming and water sports: try your hand at water
          skiing</p>
        <li class="activities-list-li">02</li>
        <p class="activity-description">Fishing: try to catch your own dinner</p>
        <li class="activities-list-li">03</li>
        <p class="activity-description">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from
          the water</p>
        <li class="activities-list-li">04</li>
        <p class="activity-description">Rest and relaxation: read a book or listen to music while enjoying the outdoor
          atmosphere.</p>
      </ul>
    </div>
    <div class="image-container">
      <img src="./img/advantages/adventages-mobile.jpg" alt="Luxury yacht interior" width="325" height="424">
    </div>
  </div>
</section>