/* Глобальні стилі */
.about-us {
    background: #fbfbfb;
    border-radius: 24px;
    width: 335px;
    height: 675px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin: auto;
}

/* Контейнер контенту */
.about-content {
    max-width: 295px;
}

.container-about {
    width: 295px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Заголовок та тексти */
.about-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    text-align: left;
}

.about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    text-align: left;
    margin-top: 20px;

    margin-bottom: 20px;
}

.about-text-two {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #040306;
    text-align: left;
}

/* Зображення */
.about-image {
    height: auto;
    border-radius: 0 24px 0 0;
    margin-top: 40px;
}

.about-img {
    border-radius: 24px;
    max-width: 335px;
    margin-left: -20px;
}

/* Мобільні (375px) */
@media (min-width: 375px) {}

/* Планшети (768px) */
@media (min-width: 768px) {
    .about-us {
        width: 704px;
        height: 675px;
        margin-left: 32px;
        margin-right: 32px;
    }

    .about-content {
        max-width: 536px;
        margin-left: 32px;
        margin-top: 50px;
    }

    .container-about {
        width: 389px;
        margin-left: 32px;
        margin-top: 50px;
    }

    .about-title {
        font-size: 48px;
    }

    .about-text {
        font-size: 23px;
    }

    .about-text-two {
        font-size: 13px;
        line-height: 1.15;
    }

    .about-image {
        width: 704px;
        height: 470px;
        margin-left: -12px;

    }
}

/* Десктопи 1280px */
@media (min-width: 1280px) {
    .about-us {
        width: 1180px;
        height: 675px;
    }

    .about-content {
        max-width: 537px;
    }

    .container-about {
        width: 354px;
    }

    .about-image {
        width: 1180px;
        height: 470px;

    }
}


/* Десктопи 1440px */
@media (min-width: 1440px) {}