.reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reviews-title {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
}

.reviews-text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.4;
  padding-bottom: 75px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  overflow-wrap: break-word;
}

.customers-item {
  box-sizing: border-box;
  border-radius: 24px;
  width: 392px;
  height: 282px;
  background-color: #fbfbfb;
}

.text-cust {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(4, 3, 6, 0.4);
}

.customers-title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #040306;
}

.image {
  margin: auto;
  border-radius: 72px;
  padding: 12px;
  width: 56px;
  height: 56px;
}

input[type='radio'] {
  display: none;
}

#slide1:checked ~ .customers .john {
  display: block;
}

#slide2:checked ~ .customers .victoria {
  display: block;
}

#slide3:checked ~ .customers .ihor {
  display: block;
}

#slide1:checked ~ .customers-list .john,
#slide1:checked ~ .customers-list .victoria {
  display: block;
}

#slide2:checked ~ .customers-list .victoria,
#slide2:checked ~ .customers-list .ihor {
  display: block;
}

#slide3:checked ~ .customers-list .ihor,
#slide3:checked ~ .customers-list .john {
  display: block;
}

.customers-slider-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.customers-slider-nav label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background-color 0.3s, width 0.3s, border-radius 0.3s;
}

#slide1:checked ~ .slider-nav label[for='slide1'],
#slide2:checked ~ .slider-nav label[for='slide2'],
#slide3:checked ~ .slider-nav label[for='slide3'] {
  background: #1b414b;
  width: 32px;
  height: 12px;
  border-radius: 10px;
}
@media screen and (min-width: 375px) {
  .reviews-title {
    max-width: 335px;
    margin: 0 auto;
  }

  .reviews-text {
    max-width: 335px;
    margin: 0 auto;
  }

  .customers-title {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    max-width: 148px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-container {
    display: block;
  }
}

.reviews-title {
  max-width: 704px;
  font-size: 48px;
  margin-bottom: 75px;
}

.reviews-text {
  max-width: 571px;
}

@media screen and (min-width: 1440px) {
  .reviews-container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 854px;
  }
}

@media screen and (min-width: 1280px) {
  .customers-title {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    max-width: 175px;
  }
}
